.appBg{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: left;
    align-items: center;
    background: url('../assets/Highway.jpg');
    background-size: cover;
}

.formBg{
    background-color: rgba(0, 0, 0, 0.43);
    /* box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.3); */
    backdrop-filter: blur(3px);
    padding: 0px 16px 16px 16px;
    border-radius: 16px;
    margin-left: 10%;
}

.loginForm{
    margin: 30px 60px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    color: white;
    font-size: x-large;
}

.input{
    background-color: #3b3736;
    border: none;
    width: 20vw;
}

input:hover {
    background-color: #3b3736 !important;
}

.label{
    color: white;
    justify-content: left;
    margin-right: 16vw;
}

.text{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.button1{
    color: white;
    background-color: #424242;
    border: none;
    margin-top: 2vh;
}

.button2{
    color: white;
    background-color: #3b5998;
    border: none;
    display: flex;
    width: 13vw;
}

.button3{
    color: white;
    background-color: #4285f4;
    border: none;
    display: flex;
    width: 13vw;
    margin-top: 3vh;
}